<a href="https://colab.research.google.com/github/alexlarin1331/mech_lern/blob/main/kurs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Новый раздел

In [1]:
import pandas as pd

In [3]:
usd_rate = pd.read_excel('/content/usd_rate.xlsx')

In [ ]:
usd_rate['curs'].plot()

In [12]:
brent_oil = pd.read_excel('/content/brent_oil.xls', sheet_name=1, skiprows=2, names=['date', 'oil_price'])

In [14]:
brent_oil.head(3)

        date  oil_price
0 1987-05-20      18.63
1 1987-05-21      18.45
2 1987-05-22      18.55

In [15]:
usd_rate.head(3)

   nominal       data     curs         cdx
0        1 2017-01-10  59.8961  Доллар США
1        1 2017-01-11  59.9533  Доллар США
2        1 2017-01-12  60.1614  Доллар США